
@{
    ViewData["Title"] = "供应商";
}


@section scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/Suppliers/Index.js" asp-append-version="true"></script>
    </environment>
}

<div id="toolbar">
    <a href="#" id="btn-add-supplier" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加供应商</a>
    <a href="#" id="btn-edit-supplier" class="easyui-linkbutton" iconCls="icon-edit" plain="true">编辑供应商</a>
    <a href="#" id="btn-delete-supplier" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除供应商</a>
</div>
<!-- datagrid数据表格 -->
<table id="supplier-index-main-grid"></table>

<!-- 添加供应商弹出对话框 -->
<div id="supplier-index-dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <div class="ftitle">供应商信息</div>
    <form id="supplier-fm" method="post">
        <div>
            <input type="hidden" name="id" />
        </div>
        <div class="fitem">
            <label>供应商名称:</label>
            <input name="supplierName" class="easyui-validatebox" required="true">
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="#" id="btn-save-supplier" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#supplier-index-dlg').dialog('close')">取消</a>
</div>


