@using StockSystem.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.Home; // The menu item will be active for this page.
}
@section styles {
    <!--- <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" /> -->
}
@section scripts
    {
    <environment names="Development">
        <script src="~/lib/jquery-countTo/jquery.countTo.js" asp-append-version="true"></script>
        <script src="~/lib/raphael/raphael.js" asp-append-version="true"></script>
        <script src="~/lib/morris.js/morris.js" asp-append-version="true"></script>
        <script src="~/lib/chart.js/dist/Chart.bundle.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.resize.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.pie.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.categories.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.time.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-sparkline/dist/jquery.sparkline.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Home/Index.js" asp-append-version="true"></script>
        <!--引入jquery-->
        <!-- <script src="~/lib/jquery-easyui-1.8.1/jquery.min.js" asp-append-version="true"></script> -->
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>
}


    <h3 style="line-height:50px;">
            内蒙古伊泰信息技术有限公司成立于2015年，注册资本1000万元，位于鄂尔多斯市高新区，为国家高新技术企业，是中国企业500强内蒙古伊泰集团有限公司的参股公司（参股比例15%）。
            公司已锻炼出一支强有力的信息技术队伍，对能源行业特别是煤炭行业的信息化建设应用具有很高的IT应用水平。公司技术团队现具有IT项目管理和咨询、IT项目实施、系统集成建设及运维、软件开发等能力，公司已自行开发出煤炭销售综合管理系统、物流运输管理系统、企业智能仓储管理系统、智能主数据管理系统等多项软件产品，并获得软件著作权登记证书。公司为国家工信部推荐的两化融合管理体系贯标咨询服务机构，已通过ISO9001:2008质量管理体系认证、国家信息技术服务标准ITSS三级认证、SAP 客户专家支持中心（CCOE）认证，实施团队取得SAP FI、CO、Basis、BW、HR等多项PA专家认证、Oracle OCP认证及思科、华为网络工程师等认证。目前公司客户涵盖能源、化工、医疗、政府、教育、金融行业等领域。
            我们的愿景：成为能源行业领先的IT服务提供商
            我们的使命：助推两化深度融合 提升企业竞争能力    

               
    </h3>